<!DOCTYPE html>
<html>
<head>
	<meta charset = "utf-8">
	<title> playlist</title>
	<link type = "text/css" rel = "stylesheet" href = "/style.css" />
	<script type="text/javascript" src = "/function.js"></script>
</head>
<body>
	<p class = "label">Choose the artist </p>
	<select id = "artist" onChange = "changeDisplay(this.value)">
		<option value = "option1" selected>Elton John</option>
		<option value = "option2">Stevie Wonder</option>
		<option value = "option3">Frank Sinatra</option>
		<option value = "option4">Louis Armstrong</option>
	</select>

	<% for(var k = 1 ; k <= output.length; k++) {%>
	<div id = "option<%=k%>"
		<% if(k != 1) {%>
			style = "display:none"
		<%}%>
		>
		<figure class="video_player">
  			<div class="video_container">
  				<iframe  src = "http://www.youtube.com/embed/<%= output[k-1][0].id.videoId %>">
				</iframe>
			</div>
			<figcaption>
  					<% for(var i = 0 ; i < output[k-1].length; i++) { %>
  					<% if(i%3 == 0) { %>
  						<span id = "option<%=k%> page<%=i/3%>"
  							<% if(i > 2) { %>
  								style = "display:none"
  							<%}%>
  						>
  					<% } %>
  					<a href="http://www.youtube.com/embed/<%= output[k-1][i].id.videoId %>"
  						<% if (i == 0) { %>
  							 class="currentvid"
  						<% } %>
  					>
    				<img src="<%= output[k-1][i].snippet.thumbnails.medium.url%>">
  					</a>
  					<% if(i%3 == 2) { %>
  						</span>
  					<% } %>
  				<% } %>
  				
			</figcaption>
			<span id = "option<%=k%> currentPage" style ="display:none">0</span>
			<span id = "option<%=k%> totalPage" style = "display:none"><%=(output[k-1].length-1)/3%></span>
		</figure>	
		
	</div>
	<% } %>

	<div class = "buttonPanel">
		<button class = "btn" onclick = "previousPage()">Previous</button>
		<button class = "btn" onclick = "nextPage()">Next</button>
	</div>

</body>
</html>